<div id="citation-linker" class="search-section">
  <% if flash[:error] %>
    <div id="error" class="notice citationLinker"><strong>(!) Problems:</strong> <%= flash[:error] %></div>
  <% end %>
  <%= form_tag({controller: 'resolve', action: 'index'}, method: :get, class: 'form-horizontal', id: 'OpenURL') do %>
    <%= hidden_field_tag "umlaut.institution", "#{(current_primary_institution.nil?) ? "NYU" : current_primary_institution.code}" %> 
    <%= hidden_field_tag "rfr_id", "info:sid/sfxit.com:citation" %> 
    <%= hidden_field_tag "rft.date", "" %> 
    <%= hidden_field_tag "rft.title", "", {class: "rft_title"} %> 
    <%= hidden_field_tag "rft.object_id", "", {class: "rft_object_id"} %> 
    <h2><%= t 'articles.citation_linker.title' %></h2>
    <div class="nyu-tip hidden-phone">
      <%= link_to_remote_popover t('articles.citation_linker.linking_help'), 
        "http://library.nyu.edu/info/umlaut/article_finding_tips.html", 
          "article-finding-popover", "data-class" => "article-finding" %>
    </div>
    <fieldset id="primary-search">
      <div class="control-group">
        <%= label :journal, :title, t('articles.citation_linker.labels.journal_title'), class: "control-label" %>
        <div class="controls">
          <%= text_field :journal, :title, {name: 'rft.jtitle', class: "title_search input-xlarge"} %>
        </div>
      </div>
      <div class="control-group">
        <%= label :journal, :issn, content_tag(:strong, "OR").concat(" #{t('articles.citation_linker.labels.issn')}"), class: "control-label" %>
        <div class="controls">
          <%= text_field :journal, :issn, {name: 'rft.issn', max_length: "9", class: "issn input-xlarge"} %>
          <%= link_to(content_tag(:i, "", class: "icons-famfamfam-information"), "http://library.nyu.edu/info/umlaut/journal.html", 
            class: ["issn-popover", "help-inline"], rel: "popover", title: "What is an ISSN?", "data-placement" => "bottom", "data-class" => "issn", target: "_blank")%>
        </div>
      </div>
    </fieldset>
    <fieldset id="optional-search">
      <h3><%= t 'articles.citation_linker.optional_title' %></h3>
      <div class="control-group">
        <%= label :article, :title, t('articles.citation_linker.labels.article_title'), class: "control-label" %>
        <div class="controls">
          <%= text_field :article, :title, {name: 'rft.atitle', class: "article_title input-xlarge"} %>
        </div>
      </div>
      <div class="control-group">
        <%= label :article, :aulast, t('articles.citation_linker.labels.author_last_name'), class: "control-label" %>
        <div class="controls">
          <%= text_field :article, :aulast, {name: 'rft.aulast', class: "article_aulast input-xlarge"} %>
        </div>
      </div>
      <div class="control-group">
        <%= label :article, :aufirst, t('articles.citation_linker.labels.author_first_name'), class: "control-label" %>
        <div class="controls">
          <%= text_field :article, :aufirst, {name: 'rft.aufirst', class: "article_aufirst input-xlarge"} %>
        </div>
      </div>
      <div class="control-group">
        <label for="year" class="control-label"><%= t('articles.citation_linker.labels.date') %></label>
        <div class="controls">
          <%= date %>
        </div>
      </div>
      <div class="control-group">
        <%= label :article, :volume, t('articles.citation_linker.labels.volume'), class: "control-label" %>
        <div class="controls">
          <%= text_field :article, :volume, {name: 'rft.volume', max_length: "5", class: "volume input-small"} %>
          <%= label :article, :issue, t('articles.citation_linker.labels.issue') %>
          <%= text_field :article, :issue, {name: 'rft.issue', class: "issue input-small"} %>
        </div>
      </div>
      <div class="control-group">
        <%= label :article, :spage, t('articles.citation_linker.labels.start_page'), class: "control-label" %>
        <div class="controls">
          <%= text_field :article, :spage, {name: 'rft.spage', class: "spage input-small"} %>
          <%= label :article, :epage, t('articles.citation_linker.labels.end_page') %>
          <%= text_field :article, :epage, {name: 'rft.epage', class: "epage input-small"} %>
        </div>
      </div>
      <div class="control-group">
        <div class="control-label rfr_id">
          <select name="rft_id_type" class="input-small">
            <option value='doi'>DOI</option>
            <option value='pmid'>PMID</option>
          </select>
        </div>
        <div class="controls">
          <input id="rft_id_value" name="rft_id_value" type="text" />
          <%= link_to(content_tag(:i, "", class: "icons-famfamfam-information"), "http://library.nyu.edu/info/umlaut/article_identifiers.html", 
            class: ["doi-popover", "help-inline"], rel: "popover", title: "What is a DOI or PMID ?", "data-class" => "doi", target: "_blank")%>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <%= submit_tag t('articles.citation_linker.submit_text'), class: "btn" %>
    </fieldset>
  <% end %>
</div>
